<br />
<br />
<div class="col-xs-10 col-xs-offset-1 text-center jumbotron">
  <% if current_user.present? %>
    <%= form_tag signatures_path, method: :post do %>
      <%= label_tag current_user.full_name %><br />
      <%= hidden_field_tag("name", current_user.full_name) %><br /><br />
      <%= label_tag current_user.email %><br />
      <%= hidden_field_tag("email_address", current_user.email) %><br /><br />
      <%= submit_tag 'Create Embedded Signature Request' %>
    <% end %>
  <% else %>
    <%= form_tag signatures_path, method: :post do %>
      <%= label_tag "Full Name" %><br />
      <%= text_field_tag(:agent_name) %><br /><br />
      <%= label_tag "Email" %><br />
      <%= text_field_tag(:email_address) %><br /><br />
      <%= label_tag "Business Name" %><br />
      <%= text_field_tag(:business_name) %><br /><br />
      <%= label_tag "Street Address" %><br />
      <%= text_field_tag(:address_number) %><br /><br />
      <%= label_tag "City, State, and Zip Code" %><br />
      <%= text_field_tag(:city_state_zip) %><br /><br />
      <%= label_tag "Bank Name" %><br />
      <%= text_field_tag(:bank_name) %><br /><br />
      <%= label_tag "Bank Routing Number" %><br />
      <%= text_field_tag(:bank_routing_number) %><br /><br />
      <%= label_tag "Bank Account Number" %><br />
      <%= text_field_tag(:bank_account_number) %><br /><br />
      <%= submit_tag 'Create Embedded Signature Request' %>
    <% end %>
  <% end %>
</div>
